@model HomeViewModel
@foreach (var item in Model.Employees)
{
	<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
		<div class="member d-flex align-items-start">
			<div class="pic"><img src="~/assets/img/team/@item.Image" class="img-fluid" alt=""></div>
			<div class="member-info">
				<h4>@item.Fullname</h4>
				<span>@item.Position</span>
				<p>@item.Description</p>
				<div class="social">
					<a href=""><i class="ri-twitter-fill"></i></a>
					<a href=""><i class="ri-facebook-fill"></i></a>
					<a href=""><i class="ri-instagram-fill"></i></a>
					<a href=""> <i class="ri-linkedin-box-fill"></i> </a>
				</div>
			</div>
		</div>
	</div>
}