
@{
    ViewData["Title"] = "Index";
}

<h2>Daxboard Index</h2>
<br>
<a asp-controller="SlideItem" asp-action="Index"><h3>Slide Actions</h3></a>
<br>
<br>
<a asp-controller="UserManager" asp-action="Index"><h3>User Actions</h3></a>
